@page "/cities/create"
@using Microsoft.EntityFrameworkCore
@using JKH.Models
@inject IDbContextFactory<JKH.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавить город</PageTitle>

<h1>Добавить</h1>

<h2>Город</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="City" OnValidSubmit="AddCity" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Название:</label> 
                <InputText id="name" @bind-Value="City.Name" class="form-control" /> 
                <ValidationMessage For="() => City.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/cities">Вернутся к списку городов</a>
</div>

@code {
    [SupplyParameterFromForm]
    private City City { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCity()
    {
        using var context = DbFactory.CreateDbContext();
        context.Cities.Add(City);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/cities");
    }
}
