@page "/cities"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JKH.Models
@using JKH.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<PageTitle>Города</PageTitle>

<h1>Обслуживаемые города</h1>
<AuthorizeView Roles="Admin, Provider">
    <Authorized>
<p>
    <a href="cities/create">Добавить город</a>
</p>
</Authorized>
</AuthorizeView>

<QuickGrid Class="table" Items="_cities">
    <PropertyColumn Title="Город" Property="c => c.Name" />
    <PropertyColumn Title="Районов" Property="c => c.Districts.Count" />
    <PropertyColumn Title="Улиц" Property="c => c.Districts.Sum(d => d.Streets.Count)" />
    <PropertyColumn Title="Домов" Property="c => c.Districts.Sum(d => d.Streets.Sum(s => s.Buildings.Count))" />
    <PropertyColumn Title="Квартир" Property="c => c.Districts.Sum(d => d.Streets.Sum(s => s.Buildings.Sum(b => b.Properties.Count)))" />
<AuthorizeView Roles="Admin, Provider">
    <Authorized>
    <TemplateColumn Context="c" Title="Действия">
        <a href="@($"/districts?cityId={c.Id}")">Районы</a>
        |
        <a href="@($"cities/edit?id={c.Id}")">Редактировать</a>
        |
        <a href="@($"cities/delete?id={c.Id}")">Удалить</a>
    </TemplateColumn>
</Authorized>
</AuthorizeView>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<City> _cities = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        _cities = context.Cities
            .Include(c => c.Districts)
                .ThenInclude(d => d.Streets)
                    .ThenInclude(s => s.Buildings)
                        .ThenInclude(b => b.Properties)
            .AsNoTracking()
            .OrderBy(c => c.Name);
    }

    public async ValueTask DisposeAsync()
    {
        if (context is not null)
            await context.DisposeAsync();
    }
}
