@page "/districts/create"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JKH.Models
@using JKH.Data

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавление района</PageTitle>

<h1>Добавить</h1>
<h2>Район</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model="District" OnValidSubmit="AddDistrict">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label class="form-label">Название</label>
                <InputText @bind-Value="District.Name" class="form-control" />
                <ValidationMessage For="() => District.Name" />
            </div>

            <!-- CityId скрыт, но передан -->
            <input type="hidden" @bind="District.CityId" />

            <button type="submit" class="btn btn-primary">Создать</button>
        </EditForm>
    </div>
</div>

<div class="mt-3">
    <a href="@($"/districts?cityId={cityId}")">Вернутся к списку районов</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int? cityId { get; set; }

    private District District { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (!cityId.HasValue)
        {
            NavigationManager.NavigateTo("/notfound");
            return;
        }

        // сразу привязываем район к городу
        District.CityId = cityId.Value;
    }

    private async Task AddDistrict()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        context.Districts.Add(District);
        await context.SaveChangesAsync();

        // возвращаемся к районам этого города
        NavigationManager.NavigateTo($"/districts?cityId={cityId}");
    }
}
