@page "/streets/edit"
@using Microsoft.EntityFrameworkCore
@using JKH.Models
@inject IDbContextFactory<JKH.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Street</h2>
<hr />
@if (Street is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Street" OnValidSubmit="UpdateStreet" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Street.Id" value="@Street.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Street.Name" class="form-control" />
                    <ValidationMessage For="() => Street.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="districtid" class="form-label">DistrictId:</label>
                    <InputNumber id="districtid" @bind-Value="Street.DistrictId" class="form-control" />
                    <ValidationMessage For="() => Street.DistrictId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/streets">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Street? Street { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Street ??= await context.Streets.FirstOrDefaultAsync(m => m.Id == Id);

        if (Street is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStreet()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Street!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StreetExists(Street!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/streets");
    }

    private bool StreetExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Streets.Any(e => e.Id == id);
    }
}
