@page "/buildings/create"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JKH.Models
@using JKH.Data
@inject IDbContextFactory<JKH.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавить дом</PageTitle>

<h1>Добавить дом</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Building" OnValidSubmit="AddBuilding">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label class="form-label">Номер дома</label>
                <InputText class="form-control" @bind-Value="Building.Number" />
                <ValidationMessage For="() => Building.Number" class="text-danger" />
            </div>

            <!-- StreetId скрыто (подставляется из query) -->
            <input type="hidden" @bind="Building.StreetId" />

            <button type="submit" class="btn btn-primary">Создать</button>
        </EditForm>
    </div>
</div>

<div class="mt-3">
    <a href="@BackUrl">Назад</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int? streetId { get; set; }

    private Building Building { get; set; } = new();

    private string BackUrl =>
        streetId.HasValue ? $"/buildings?streetId={streetId.Value}" : "/cities";

    protected override void OnInitialized()
    {
        if (!streetId.HasValue)
        {
            NavigationManager.NavigateTo("/notfound");
            return;
        }

        Building.StreetId = streetId.Value;
    }

    private async Task AddBuilding()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        context.Buildings.Add(Building);

        try
        {
            await context.SaveChangesAsync();
            NavigationManager.NavigateTo(BackUrl);
        }
        catch (DbUpdateException)
        {

            throw;
        }
    }
}
